# Backend GitHub (RepoScan)
GITHUB_PORT=5000
GITHUB_MONGODB_URI=mongodb://atlas-sql-6a494acbfa0b622111de10e8-4fk8ns.a.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
GITHUB_TOKEN=your_github_personal_access_token
GROQ_MODEL=llama-3.3-70b-versatile