
# Backend URL (Cicaada)
URL_PORT=3002
URL_MONGODB_URI=mongodb://atlas-sql-6a494acbfa0b622111de10e8-4fk8ns.a.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
NODE_ENV=development
CLIENT_URL=http://localhost:5173
AUDIT_OUTPUT_DIR=./outputs
MAX_AI_ISSUES=10
GROQ_API_KEY=your_groq_api_key
